extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")
    
        .row 
            .col-12 
                .chat(my-id=user.id) 
                    .inner-body     
                        each chat in chats 
                            div(class= (chat.user_id == user.id ? "inner-outgoing " : "inner-incoming"))
                                if(chat.user_id !== user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content 
                                    | #{chat.content}
                    //- 
                    //-     .inner-incoming 
                    //-         .inner-name Em yêu 
                    //-         .inner-content 
                    //-             | Anh ơi sang nhà em nha, nhà em không có ai ở nhà cả
                    //-     .inner-outgoing 
                    //-         .inner-content 
                    //-             | Thế à? Oke em iu 
                    //-     .inner-incoming 
                    //-         .inner-name Em yêu 
                    //-         .inner-content 
                    //-             | Nhanh nha nhanh nha 
                    //-     .inner-outgoing 
                    //-         .inner-content 
                    //-             | Ck đến rồi mà thấy ai ở nhà đâu em? Khóa cửa mà :(
                    //-     .inner-incoming 
                    //-         .inner-name Em yêu 
                    //-         .inner-content 
                    //-             | Thì em bảo nhà em đâu có ai ở nhà mà :()

                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )
                            button 
                                i.fa-solid.fa-paper-plane
                    
                    